
/* //////////////////////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* //////////////////////////////////////////////////////////// */

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    background-color: #5fba7d;
}

/* //////////////////////////////////////////////////////////// */

nav {
    width: 50%;
    margin: 0 auto;
}

a {
    outline: none;
    display: block;
    margin: 2em;
    padding: 1px;
    align-self: center;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 0px 0px 3px #242729;
}

a:hover {
    color: #555555;
    text-shadow: 0px 0px 3px #49a969;
    transition-duration: .5s;
}
